{
  "presets": ["es2015"],
  "plugins": [
    "transform-async-to-generator",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "environment": "./server/environment",
        "controllers": "./server/controllers",
        "ducks": "./server/ducks",
        "handlers": "./server/handlers",
        "constants": "./server/constants",
        "utils": "./server/utils"
      }
    }]
  ]
}
