{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.9.3"
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "config": "./server/config",
          "constants": "./server/constants",
          "controllers": "./server/controllers",
          "ducks": "./server/ducks",
          "environment": "./server/environment",
          "handlers": "./server/handlers",
          "store": "./server/store",
          "utils": "./server/utils",
          "tests": "./tests"
        }
      }
    ]
  ]
}
